
.red{
    color : crimson ;
    text-transform: uppercase;
    letter-spacing: 1px ;
}

.blue{
    color : dodgerblue ;
    text-transform: uppercase;
    letter-spacing: 1px ;
}
.orange{
    color : orange 
}
.purple{
    color : purple 
}